* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --color-2: rgb(200, 197, 242);
    --grey: rgb(234, 234, 234);
    --pink: rgb(224, 194, 194);
}

.box {
    border-top: 15px solid cadetblue;
    border-bottom: 2px solid cadetblue;
    margin-block: 1rem;
    padding-block: 3rem;
}

.footer {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
} 

footer,
.sec-2 {
    background: var(--grey);   
}

.footer div {
    padding: 2rem;
}

.footer div:first-child,
.footer div:last-child {
    width: 35rem;
}

.footer h1 {
    padding-block: 2rem;   
}

header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}
header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    padding-inline: 1.5rem;
}

p {
    line-height: 1.5rem;
}  

.sec-1 {
    padding-block: 6.5rem;
}
 
.sec-5 {
    background-color: var(--grey);   
}

.sec-1,
.sec-2,
.sec-3,
.sec-4,
.sec-5,
.sec-6,
.sec-6 .img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
  
.sec-1 div:first-child {  
    width: 20rem;
}

.sec-1 div:first-child button {
    padding: 1rem;
}

.sec-1 div:first-child h1 {
    border-bottom: 2px solid cadetblue;
    border-bottom-right-radius: 1.2rem;
    border-top: 10px solid var(--pink);
    padding-block: 1rem;
    padding-right: 3rem;
}

.sec-1 div:first-child p {
    margin-block: 3rem;
}

.sec-1 div:nth-child(2) {     
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    width: 30rem;
}
 
.sec-1-inner {    
    align-items: center;
    display: flex;
    justify-content: center; 
}

.sec-2,
.img {
    padding: 5rem;
}

.sec-2 .box { 
    margin-block: 1rem;
}
 
.sec-2 .box > div,
.sec-5 .box > div {
    background-size: cover;
    border-radius: 2rem;
    box-shadow: 2px 2px 19px #bbb;
    height: 15rem;
    margin: 0rem;
    width: 23.9rem;
}
 
.sec-2 .box h1,
.sec-2 .box p {
    padding: 1rem; 
}
 
.sec-2 div,
.sec-5 div {
    margin-inline: 2rem;
    width: 25rem;
}
 
.sec-3,
.sec-inner,
header { 
    box-shadow: 2px 2px 19px #ddd;   
}

.sec-3 {
    background: var(--pink);
    padding: 4rem 2rem;
}

.sec-3 button,
.sec-6 div button {
    margin-left: 1rem;
}

.sec-3 button,
.sec-3 h1,
.sec-3 p,
.sec-4 h1,
.sec-5 h1,
.sec-5 p,
.sec-6 div h1,
.sec-6 div button,
.sec-6 div p {
    padding: 1rem;
}
 
.sec-4,
.sec-5 {
    padding: 5rem 2rem;
}
 
.sec-5 div {
    margin-block: 1rem;
    width: 25rem;
}
.sec-5 .box > div {
    width: 25rem;
}

.sec-4 div {
    text-align: center;
    width: 60rem;
}
 
.sec-6 div div:last-child div {
    background-size: cover;
    border-radius: 2rem;
    box-shadow: 2px 2px 19px #bbb;
    height: 15rem;
    margin: 2rem;
    width: 15rem;
}

.sec-inner {
    background-color: var(--pink);
    display: flex; 
    justify-content: center;  
    padding: 4rem;
}


.sec-inner div, 
.footer div, 
.sec-3 div {
    padding: 2rem;
    border-left: 10px solid lightcoral;  
}

ul {
    list-style: none;   
}

@media (max-width: 900px) {
    .sec-inner {
        flex-direction: column;
    }
}

@media (max-width: 412px) {
    .sec-2 .box {
        width: 97vw;   
    }
}

@media (max-width: 396px) {
    .sec-2 .box > div,
    .sec-5 .box > div {
        width: 95vw;   
    }
}

@media (max-width: 381px) {
    .sec-5 .box  {
        width: 97vw;
    }
}

@media (max-width: 343px) {  
    .sec-1-inner div {
        width: 97vw;
    }  
}
